.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
out
@mf-types

apps_changes.json

.env.*.local
.npmrc
.gitlab-ci.yml
pnpm-lock.yaml


## Code Editor
.vscode
.idea
.zed
